---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Button from "@components/Button.astro"
import { BLOG } from "@consts";

const data = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  
const allTags = await getCollection('tags');
type Acc = {
  [year: string]: CollectionEntry<"blog">[];
}

const posts = data.reduce((acc: Acc, post) => {
    const year = post.data.date.getFullYear().toString();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  }, {});
const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a)); 

let selectedLang = "en";
const languages = Array.from(new Set(data.map(post => post.data.lang)));
const tags = Array.from(new Set(data.map(post => post.data.tags)));
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Blog
      </div>
      <div class="animate">
      <div class="pb-4">
        Languages <br /><br />
          {languages.map((lang) => (
            <Button text={lang} class="mr-2" />
          ))}
      </div>
      <div>
        Tags<br /><br />
          {allTags.map((tag) => (
            <Button text={tag.data.name} href={`/tags/${tag.id}`} class="mr-2"/>
          ))}
      </div>
    </div>
      <div class="space-y-4">
        {years.map(year => (
          <section class="animate space-y-4">
            <div class="font-semibold text-black dark:text-white">
              {year}
            </div>
            <div>
              <ul class="flex flex-col gap-4">
                {
                  posts[year].map((post) => (
                    <li>
                      <ArrowCard entry={post}/>
                    </li>
                  ))
                }
              </ul>
            </div>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>
